<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1OK6ZV8-9192xjIetVjeYZaAaIXgrwoY</string>
	<key>GCM_SENDER_ID</key>
	<string>464677285080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TPAP.Rootrip</string>
	<key>PROJECT_ID</key>
	<string>tpap-73ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>tpap-73ae9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464677285080:ios:05f7b202428ef5157a7bad</string>
</dict>
</plist>